<div class="home-background-container">
</div>
<div class="home-container">


  <div class="logo-container">
      <img src="img/bus.png">
      <h1>Displace</h1>
  </div>

<!--Login Form-->
  <div class="login-form">
    <div class="login-item">
      <input type="text" placeholder="Username">
    </div>
    <div class="login-item">
      <input type="password" placeholder="Password">
    </div>
    <div class="login-item">
      <button class="btn-login">Login</button>
    </div>
    <div class="login-item">
      <button class="btn-signup">Sign Up</button>
    </div>
  </div>
</div>
