@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/*
Overriden CSS classes
to get a static background image
*/
body .view-container.tab-content {
  background-color: transparent;
}

body .pane, .menu, .view, .list, .item       {
    background: transparent;
}

.ts-background-container{
  background-image: url("../img/home-background.jpg");
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center;
  filter: brightness(0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.ts-container{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding:20px;
}

.ts-container .logo-container{
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 10%;
}

.ts-container .logo-container img{
  width: 20%;
}

.ts-container .logo-container h1{
  font-size: 45px;
  font-family: 'Luckiest Guy', cursive;
  color: #ffb916;
}

.ts-container .login-form{
  background: transparent;
}

.ts-container .login-form input{
  background: transparent;
  color: white;
  height: 50px;
  width: 100%;
  margin-bottom: 25px;
  border: 1px solid #ffffff;
  padding: 15px;
  border-radius: 5px;
}

.ts-container .login-form .btn-login{
  width: 100%;
  padding: 10px;
  background-color: #ffb916;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  border-radius: 5px;
  border: 0;
  margin-top: 20px;
}

.ts-container .login-form .btn-signup{
  width: 100%;
  padding: 10px 15px;
  background-color: rgb(38, 97, 86);
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  border-radius: 5px;
  border: 0;
  margin-top: 20px;
}

.home-header {
  border-bottom: 2px solid #e6b500;
  background-color: #e42112;
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.home-header .user-container{
  color: white;
}

.home-header .user-data-holder{
  width: 20%;
  display: inline;
  color: white;
}

.home-header .balance-container{
  float: right;
}

.home-header img{
  width: 15%;
  display: inline;
}


/*Home-Navigation*/
.ts-navigation-bar{
  text-align: center;
}

.ts-navigation-bar .ts-nav-item{
  width: 45%;
  height: 20%;
  background-color: #262626;
  padding: 20px;
  text-align: center;
  display: inline-block;
  margin-bottom: 4px;
  border-radius: 2px;

  color: white;
}

.ts-navigation-bar .ts-nav-item img{
  width: 50%;

}

.ts-trip-status-container{
  width: 100%;
  height: auto;
  text-align: center;
  padding: 10px;
}

.ts-trip-status-container .waiting{
  margin-top: 20%;
}

.ts-trip-status-container h3, h5{
  color: white;
}

.ts-trip-status-container img{
  width: 20%;
}
